@import "imports.scss";



.cenas {
  background: url("../img/pattern-light.png");
  width: 100%;
  height: auto;
  padding: 150px 0 50px;

  div.cenas_wrapper {
    width: 80%;
    @include justify-content(space-between);

    h1 {
      width: 100%;
      margin-bottom: 20px;
    }
    h1:nth-of-type(1n+2) {
      margin-top: 70px;
    }

    div.cenu_bloks {
      width: 48%;
      height: 120px;
      background: white;
      margin-bottom: 30px;
      border: 1px solid $main_color-mono-light;
      transition: .4s;
      @include flexbox;

      &:hover {
        background: $main_color;
      }

      .cenas_icon {
        width: 120px;
        height: auto;
        padding: 10px;
        border-right: 1px dashed $main_color-mono-light;
        @include flexbox;

        img {
          max-width: 100%;
          max-height: 100%;
          @include align-self(center);
        }
      }

      .cenas_txt {
        margin-right: auto;
        @include flexbox;
        padding: 0 20px;
        width: 80%;

        h2 {
          font-size: .9em;
          @include align-self(center);
        }
      }

      .cenas_cena {
        width: 100px;
        height: 100%;
        text-align: center;
        background: $main_color;
        @include flexbox;
        @include justify-content(center);
        border-left: 1px dashed $main_color-mono-light;

        p {
          font-size: .75em;
          @include align-self(center);
        }

        span {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media screen and (max-width: 1680px){
  .cenas {

    div.cenas_wrapper {
      width: 90%;
      @include justify-content(space-between);

      div.cenu_bloks {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 1280px){
  .cenas {

    div.cenas_wrapper {
      width: 90%;
      @include justify-content(space-between);

      div.cenu_bloks {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 700px){
  .cenas {

    div.cenas_wrapper {
      width: 100%;

      div.cenu_bloks {
        width: 100%;
        margin-bottom: 10px;

        .cenas_icon {
          width: 80px;
        }

        .cenas_txt {
          margin-right: auto;
          @include flexbox;
          padding: 0 20px;

          h2 {
            font-size: .7em;
            @include align-self(center);
          }
        }

        .cenas_cena {
          width: 80px;

          span {
            font-size: 1.25em;
          }
        }
      }
    }
  }
}