@import "imports.scss";



//FIRST FOLD
/*-----------------------------------------------------------------------------------*/


section.first_fold {
  position: relative;
  z-index: 1;
  background: url("../img/ff-bg-still.jpg");
  background-size: cover;

  div.ff_bg {
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    position: absolute;
  }

  div.ff_content {
    width: 60%;
    height: 30%;
    //background: purple;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 15;
    position: absolute;
    text-align: left;
    color: white;
    font-size: 1em;

    h1 {
      margin: 20px 0;
    }

    .main_color {
      color: $main_color;
    }
  }
  
  video.bgvideo {
    width: 100%;
    height: 100%;
    margin: 0 auto -5px;
  }
}



//FIRST SECTION
/*-----------------------------------------------------------------------------------*/


.mums_uzticas {
  height: auto;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;

  div.mums_uzticas_wrapper {
    width: 80%;
    height: 100%;
    //background: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;
  }

  img {
    width: 100%;
    align-self: center;
  }

  span {
    margin: 0 50px;
  }

  h1 > span {
    margin: 0;
    align-self: center;
    color: $main_color-dark-grey;
    font-size: .8em;
  }
  h1 {
    margin: 0;
  }
}



//REVIEWS
/*-----------------------------------------------------------------------------------*/

section.review {
  width: 100%;
  height: 700px;
  background: url("../img/pattern-dark.png");
  display: flex;
  justify-content: center;
  color: $main_color-mono-light;

  p {
    color: $main_color-medium-grey;
  }

  div.review_wrapper {
    width: 40%;
    height: 500px;
    //background: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;

    &>div {
      width: 100%;
      text-align: center;
      display: flex;

      h1 {
        align-self: center;
      }
    }

    div.review_data {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &>div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 150px;
        align-self: center;
      }

      div.review_name {
        text-align: left;
        margin-left: 50px;
        align-self: center;
      }
    }

    div.review_img {
      height: 150px;
      width: 150px;
      align-self: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 100px;
      }
    }
  }
}



//GOOGLE MAPS
/*-----------------------------------------------------------------------------------*/


#google_map {
  width: 100%;
  height: 600px;
  margin: 0;
}