@import "imports.scss";

@import "index.scss";
@import "pakalpojumi.scss";
@import "cenas.scss";

//NAVIGATION
/*-----------------------------------------------------------------------------------*/

header {
  background: black;
  width: 100vw;
  height: 80px;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 10;

  div.content_wrapper {
    width: 80%;
    height: 100%;
    //background: red;
    display: flex;

    div.logo {
      height: 100%;
      width: 300px;
      //background: blue;
      margin-right: auto;

      img {
        width: 40%;
        margin: 12px 0 0;
      }
    }

    nav.main_nav {
      //background: orange;
      height: 100%;
      width: 60%;
      display: flex;
      justify-content: flex-end;

      a {
        align-self: center;
        margin-left: 35px;
        font-size: .9em;
        color: $main_color-mono-light;
        transition: 0.15s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}



//FOOTER
/*-----------------------------------------------------------------------------------*/

footer {
  width: 100%;
  height: 200px;
  background: url("../img/pattern-dark.png");
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .social a {
    display: block;
    width: 64px;
    height: 64px;
    transition: .35s;
    @include hide-text;
    border-radius: 50px;
  }

  ul {
    margin: 45px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 10px;
    }
  }

  h1 {
    margin: 0;
  }

  div.copyrights {
    background: rgba(0, 0, 0, .35);
    border-top: 1px solid #2c2f29;
    width: 100%;
    height: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;

    p {
      margin: 0;
      font-size: .7em;
      align-self: center;
      color: $main_color-medium-grey;
    }
  }
}