@import "imports.scss";

@import "index.scss";
@import "cenas.scss";

//NAVIGATION
/*-----------------------------------------------------------------------------------*/

header {
  background: black;
  width: 100vw;
  height: 80px;
  @include flexbox;
  position: fixed;
  @include justify-content(center);
  z-index: 10;

  div.content_wrapper {
    width: 80%;
    height: 100%;
    @include flexbox;

    div.logo {
      height: 100%;
      width: 300px;
      //background: blue;
      margin-right: auto;

      img {
        width: 40%;
        margin: 12px 0 0;
      }
    }

    nav.main_nav {
      //background: orange;
      height: 100%;
      width: 60%;
      @include flexbox;
      @include justify-content(flex-end);

      a.active_link {
        color: $main_color;
      }

      a {
        @include align-self(center);
        font-size: .9em;
        color: $main_color-mono-light;
        transition: 0.15s;

        &:hover {
          color: $main_color;
        }
      }

      a:nth-of-type(even){
        margin-left: 35px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  header {
    height: 60px;

    div.content_wrapper {
      width: 90%;
      @include justify-content(space-between);

      div.logo {
        height: 100%;
        width: 120px;
        //background: blue;
        margin-right: 0;

        a {
          display: block;
          width: 100%;
          height: 100%;

          img {
            width: 70%;
            max-height: 100%;
          }
        }
      }

      nav.main_nav {
        width: auto;

        a:nth-of-type(even){
          margin-left: 20px;
        }
      }
    }
  }
}



//FOOTER
/*-----------------------------------------------------------------------------------*/

footer {
  height: 360px;
  background: $main_color-dark-grey;
  width: 100%;
  @include justify-content(center);

  div.footer_container {
    margin-top: 20px;
    width: 90%;
  }

  .social_nav {
    width: 100%;
    //background: red;
    @include justify-content(flex-end);
  }

  .rekviziti {
    width: 50%;
    height: auto;
    //background: green;
    text-align: end;

    h4 {
      width: 100%;
      font-size: 16px;
      color: $main_color-mono-light;

      span {
        font-size: .75em;
        color: $main_color-medium-grey;
      }
    }
  }

  .fb-like-box {
    width: 50%;
  }

  .fb_iframe_widget {
    //background: green;
    @include flexbox;

    span {
      //background: yellow;
      margin: 0 auto;
      min-width: 100%;
      @include align-self(center);

      iframe {
        //background: pink;
        min-width: 100%;
        padding-top: 30px;
      }
    }
  }

  .copyrights {
    width: 100%;
    @include align-self(flex-end);
    padding: 3px 0;
    background: rgba(0, 0, 0, .35);
    border-top: 1px solid #2c2f29;

    a, p, {
      margin: 10px;
      color: $main_color-medium-grey;
      font-size: 14px;
    }

    a {
      transition: .35s;

      &:hover {
        color: white;
      }
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }
}


@media screen and (max-width: 800px){
  footer {
    height: 620px;

    div.footer_container {
      margin-top: 0;
    }

    .social_nav {
      width: auto;
      @include justify-content(center);
    }

    .rekviziti {
      width: 100%;
      height: 240px;
      //background: green;
      order: 2;
      text-align: left;

      h4 {
        font-size: 14px;
      }
    }

    .fb-like-box {
      width: 100%;
      margin-bottom: 30px;
    }

    .fb_iframe_widget {

      span {

        iframe {
          padding-top: 30px;
        }
      }
    }

    .copyrights {
      height: auto;
    }
  }
}