/* line 88, ../img/icons/*.png */
.icons-sprite, .icons-fb, .icons-g, .icons-tw {
  background-image: url('../img/../img/icons-s836e8c8737.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb {
  background-position: 0 -64px;
}
/* line 59, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb:hover, .icons-fb.fb-hover {
  background-position: 0 0;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-g {
  background-position: 0 -192px;
}
/* line 59, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-g:hover, .icons-g.g-hover {
  background-position: 0 -128px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tw {
  background-position: 0 -320px;
}
/* line 59, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tw:hover, .icons-tw.tw-hover {
  background-position: 0 -256px;
}

/* line 13, ../sass/_imports.scss */
.light_h1 {
  color: #f0f0f0;
}

/* line 16, ../sass/_imports.scss */
.dark_h1 {
  color: #282a2b;
}

/* line 20, ../sass/_imports.scss */
.vertical_center {
  align-self: center;
}

/* line 24, ../sass/_imports.scss */
.vertical_bottom {
  align-self: flex-end;
}

/* line 29, ../sass/_imports.scss */
body {
  background: green;
}

/* line 33, ../sass/_imports.scss */
* {
  text-decoration: none;
  font-size: 20px;
  list-style: none;
}

/* line 39, ../sass/_imports.scss */
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* line 46, ../sass/_imports.scss */
span.standout {
  color: #f8c235;
  font-size: 1em;
}

/* line 51, ../sass/_imports.scss */
div.generic_h1 {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100px;
}
/* line 57, ../sass/_imports.scss */
div.generic_h1 h1 {
  font-size: 30px;
}

/*-----------------------------------------------------------------------------------*/
/* line 9, ../sass/_index.scss */
section.first_fold {
  position: relative;
  z-index: 1;
  background: url("../img/ff-bg-still.jpg");
  background-size: cover;
}
/* line 15, ../sass/_index.scss */
section.first_fold div.ff_bg {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  position: absolute;
}
/* line 23, ../sass/_index.scss */
section.first_fold div.ff_content {
  width: 60%;
  height: 30%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 15;
  position: absolute;
  text-align: left;
  color: white;
  font-size: 1em;
}
/* line 38, ../sass/_index.scss */
section.first_fold div.ff_content h1 {
  margin: 20px 0;
}
/* line 42, ../sass/_index.scss */
section.first_fold div.ff_content .main_color {
  color: #f8c235;
}
/* line 47, ../sass/_index.scss */
section.first_fold video.bgvideo {
  width: 100%;
  height: 100%;
  margin: 0 auto -7px;
}

/*-----------------------------------------------------------------------------------*/
/* line 58, ../sass/_index.scss */
section.kaskokapec {
  background: url("../img/pattern-light.png");
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 66, ../sass/_index.scss */
section.kaskokapec div.kaskokapec_h1 {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100px;
}
/* line 73, ../sass/_index.scss */
section.kaskokapec div.kaskokapec_wrapper {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 81, ../sass/_index.scss */
section.kaskokapec div.kaskokapec_wrapper div.kaskokapec_section {
  width: 360px;
  height: 360px;
  background: #f8c235;
  margin: 4%;
  border-radius: 100%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 92, ../sass/_index.scss */
section.kaskokapec div.kaskokapec_wrapper div.kaskokapec_section div.kaskokapec_text {
  align-self: center;
  width: 70%;
}
/* line 96, ../sass/_index.scss */
section.kaskokapec div.kaskokapec_wrapper div.kaskokapec_section div.kaskokapec_text h1 {
  color: white;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 40px;
}
/* line 103, ../sass/_index.scss */
section.kaskokapec div.kaskokapec_wrapper div.kaskokapec_section div.kaskokapec_text p {
  text-align: center;
  color: #282a2b;
}

/*-----------------------------------------------------------------------------------*/
/* line 116, ../sass/_index.scss */
div#carousel-example-generic {
  height: 900px;
  background: url("../img/pattern-dark.png");
}
/* line 120, ../sass/_index.scss */
div#carousel-example-generic li {
  width: 20px;
  height: 20px;
}
/* line 125, ../sass/_index.scss */
div#carousel-example-generic li.active {
  background: #f8c235;
  border: 1px solid #f8c235;
}
/* line 130, ../sass/_index.scss */
div#carousel-example-generic .item {
  margin: 70px auto 0;
}
/* line 133, ../sass/_index.scss */
div#carousel-example-generic .item img {
  margin: auto;
  border-radius: 10px;
}
/* line 139, ../sass/_index.scss */
div#carousel-example-generic div.carousel-caption {
  position: static;
  width: 50%;
  margin: auto;
  padding-top: 40px;
}
/* line 145, ../sass/_index.scss */
div#carousel-example-generic div.carousel-caption h3 {
  color: #f8c235;
}
/* line 149, ../sass/_index.scss */
div#carousel-example-generic div.carousel-caption p {
  font-size: .8em;
}

/*-----------------------------------------------------------------------------------*/
/* line 159, ../sass/_index.scss */
.mums_uzticas {
  height: auto;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
}
/* line 166, ../sass/_index.scss */
.mums_uzticas div.mums_uzticas_wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 35px;
}
/* line 175, ../sass/_index.scss */
.mums_uzticas img {
  width: 100%;
  align-self: center;
  margin: 40px 0 50px;
}

/*-----------------------------------------------------------------------------------*/
/* line 187, ../sass/_index.scss */
section.review {
  width: 100%;
  height: 800px;
  background: url("../img/pattern-dark.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #f0f0f0;
}
/* line 196, ../sass/_index.scss */
section.review p {
  color: #7a7873;
  font-size: .8em;
  margin-top: 5px;
}
/* line 202, ../sass/_index.scss */
section.review div.review_wrapper {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 3% 3% 0;
}
/* line 211, ../sass/_index.scss */
section.review div.review_wrapper div.review_headline {
  height: 150px;
  border-top: 1px solid #252525;
  width: 100%;
  text-align: justify;
  display: flex;
  padding-top: 30px;
}
/* line 219, ../sass/_index.scss */
section.review div.review_wrapper div.review_headline h1 {
  align-self: flex-start;
  font-size: .9em;
  font-weight: 100;
}
/* line 226, ../sass/_index.scss */
section.review div.review_wrapper div.review_data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
/* line 232, ../sass/_index.scss */
section.review div.review_wrapper div.review_data div.review_name {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}
/* line 239, ../sass/_index.scss */
section.review div.review_wrapper div.review_img {
  height: 200px;
  width: 200px;
  align-self: center;
  margin: 0 0 30px;
}
/* line 245, ../sass/_index.scss */
section.review div.review_wrapper div.review_img img {
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}

/*-----------------------------------------------------------------------------------*/
/* line 260, ../sass/_index.scss */
#google_map {
  width: 100%;
  height: 600px;
  margin: 0;
}

/* line 5, ../sass/_pakalpojumi.scss */
.testp {
  background: lightblue;
  height: 100vh;
  width: 100%;
}

/* line 5, ../sass/_cenas.scss */
.testc {
  background: lightcoral;
  width: 100%;
  height: 100vh;
}

/*-----------------------------------------------------------------------------------*/
/* line 10, ../sass/global.scss */
header {
  background: black;
  width: 100vw;
  height: 80px;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 10;
}
/* line 19, ../sass/global.scss */
header div.content_wrapper {
  width: 80%;
  height: 100%;
  display: flex;
}
/* line 25, ../sass/global.scss */
header div.content_wrapper div.logo {
  height: 100%;
  width: 300px;
  margin-right: auto;
}
/* line 31, ../sass/global.scss */
header div.content_wrapper div.logo img {
  width: 40%;
  margin: 12px 0 0;
}
/* line 37, ../sass/global.scss */
header div.content_wrapper nav.main_nav {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
/* line 44, ../sass/global.scss */
header div.content_wrapper nav.main_nav a {
  align-self: center;
  margin-left: 35px;
  font-size: .9em;
  color: #f0f0f0;
  transition: 0.15s;
}
/* line 51, ../sass/global.scss */
header div.content_wrapper nav.main_nav a:hover {
  color: #f8c235;
}

/*-----------------------------------------------------------------------------------*/
/* line 64, ../sass/global.scss */
footer {
  width: 100%;
  height: 200px;
  background: url("../img/pattern-dark.png");
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 74, ../sass/global.scss */
footer .social a {
  display: block;
  width: 64px;
  height: 64px;
  transition: .35s;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  border-radius: 50px;
}
/* line 83, ../sass/global.scss */
footer ul {
  margin: 45px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* line 89, ../sass/global.scss */
footer ul li {
  margin: 0 10px;
}
/* line 94, ../sass/global.scss */
footer h1 {
  margin: 0;
}
/* line 98, ../sass/global.scss */
footer div.copyrights {
  background: rgba(0, 0, 0, 0.35);
  border-top: 1px solid #2c2f29;
  width: 100%;
  height: 50px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}
/* line 107, ../sass/global.scss */
footer div.copyrights p {
  margin: 0;
  font-size: .7em;
  align-self: center;
  color: #7a7873;
}
