/* line 70, ../sass/_flexbox.scss */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 13, ../sass/_imports.scss */
.light_h1 {
  color: #f0f0f0;
}

/* line 16, ../sass/_imports.scss */
.dark_h1 {
  color: #282a2b;
}

/* line 20, ../sass/_imports.scss */
.main_color {
  color: #f8c235;
}

/* line 24, ../sass/_imports.scss */
.warning_color {
  color: #d83f23;
}

/* line 29, ../sass/_imports.scss */
.vertical_center {
  align-self: center;
}

/* line 33, ../sass/_imports.scss */
.vertical_bottom {
  align-self: flex-end;
}

/* line 38, ../sass/_imports.scss */
*, a, a:hover, a:focus {
  text-decoration: none;
  font-size: 20px;
  list-style: none;
}

/* line 44, ../sass/_imports.scss */
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* line 51, ../sass/_imports.scss */
span.standout {
  color: #f8c235;
  font-size: 1em;
}

/* line 56, ../sass/_imports.scss */
div.generic_h1 {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100px;
}
/* line 62, ../sass/_imports.scss */
div.generic_h1 h1 {
  font-size: 30px;
}

/* line 68, ../sass/_imports.scss */
.flex {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 73, ../sass/_imports.scss */
.horizontal_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/* line 77, ../sass/_imports.scss */
.space_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

/* line 81, ../sass/_imports.scss */
.vertical_center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

/* line 89, ../sass/_imports.scss */
.first_element {
  order: 1;
}

/* line 93, ../sass/_imports.scss */
.second_element {
  order: 2;
}

@media screen and (max-width: 600px) {
  /* line 100, ../sass/_imports.scss */
  h1 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  /* line 105, ../sass/_imports.scss */
  .padding {
    padding: 60px 0;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 9, ../sass/_index.scss */
section.first_fold {
  position: relative;
  z-index: 1;
  background: url("../img/ff-bg-still.jpg") no-repeat;
  background-size: cover;
}
/* line 15, ../sass/_index.scss */
section.first_fold div.ff_bg {
  width: 100%;
  height: 100%;
  background: url("../img/pattern-dark-60.png");
  position: absolute;
}
/* line 22, ../sass/_index.scss */
section.first_fold div.ff_content {
  width: 60%;
  height: 20%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 15;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1em;
}
/* line 37, ../sass/_index.scss */
section.first_fold div.ff_content h1 {
  margin: 20px 0;
  font-size: 2em;
}
/* line 42, ../sass/_index.scss */
section.first_fold div.ff_content h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}
/* line 48, ../sass/_index.scss */
section.first_fold .ff_darba_laiki {
  width: auto;
  height: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.65);
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 15;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1em;
}
/* line 62, ../sass/_index.scss */
section.first_fold .ff_darba_laiki h1 {
  margin: 10px 0;
}
/* line 66, ../sass/_index.scss */
section.first_fold .ff_darba_laiki h2 {
  font-size: 1.25em;
}
/* line 70, ../sass/_index.scss */
section.first_fold .ff_darba_laiki h3 {
  margin: 0 0 20px;
  font-size: .9em;
  font-style: italic;
}
/* line 77, ../sass/_index.scss */
section.first_fold video.bgvideo {
  width: 100%;
  height: 100%;
  margin: 0 auto -8px;
}

@media screen and (max-width: 1400px) {
  /* line 85, ../sass/_index.scss */
  section.first_fold {
    background-size: cover;
    height: 800px;
    width: auto;
  }
  /* line 90, ../sass/_index.scss */
  section.first_fold div.ff_content {
    width: 80%;
    height: 60%;
    left: 0;
    right: 0;
    top: 100px;
  }
  /* line 98, ../sass/_index.scss */
  section.first_fold div.ff_content h1 {
    margin: 10px 0;
    font-size: 2em;
  }
  /* line 103, ../sass/_index.scss */
  section.first_fold div.ff_content h2 {
    font-size: 1.25em;
  }
  /* line 108, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki {
    margin: auto;
    z-index: 15;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1em;
  }
  /* line 116, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki h1 {
    margin: 5px 0;
  }
  /* line 121, ../sass/_index.scss */
  section.first_fold video.bgvideo {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  /* line 128, ../sass/_index.scss */
  section.first_fold {
    background-size: cover;
    height: 600px;
    width: auto;
  }
  /* line 133, ../sass/_index.scss */
  section.first_fold div.ff_content {
    width: 80%;
    height: 60%;
    left: 0;
    right: 0;
    top: 50px;
  }
  /* line 141, ../sass/_index.scss */
  section.first_fold div.ff_content h1 {
    margin: 10px 0;
    font-size: 2em;
  }
  /* line 146, ../sass/_index.scss */
  section.first_fold div.ff_content h2 {
    font-size: 1.25em;
  }
  /* line 151, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki {
    margin: auto;
    z-index: 15;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1em;
  }
  /* line 159, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki h1 {
    margin: 5px 0;
  }
  /* line 164, ../sass/_index.scss */
  section.first_fold video.bgvideo {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 171, ../sass/_index.scss */
  section.first_fold {
    background-size: cover;
    height: 500px;
    width: auto;
  }
  /* line 176, ../sass/_index.scss */
  section.first_fold div.ff_content {
    width: 90%;
    height: 80%;
    left: 0;
    right: 0;
    top: 120px;
  }
  /* line 184, ../sass/_index.scss */
  section.first_fold div.ff_content h1 {
    margin: 10px 0;
    font-size: 1.5em;
  }
  /* line 189, ../sass/_index.scss */
  section.first_fold div.ff_content h2 {
    font-size: .9em;
  }
  /* line 194, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki {
    margin: auto;
    z-index: 15;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1em;
    left: 0;
    right: 0;
  }
  /* line 204, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki h1 {
    margin: 5px 0;
    font-size: 1.25em;
  }
  /* line 209, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki h2 {
    font-size: 1em;
  }
  /* line 213, ../sass/_index.scss */
  section.first_fold .ff_darba_laiki h3 {
    margin-bottom: 15px;
    font-size: .8em;
  }
  /* line 219, ../sass/_index.scss */
  section.first_fold video.bgvideo {
    display: none;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 229, ../sass/_index.scss */
section.par_mums {
  background: #282a2b;
  height: auto;
  width: 100%;
  padding-bottom: 50px;
}
/* line 235, ../sass/_index.scss */
section.par_mums h5, section.par_mums p {
  width: 90%;
  text-align: center;
}
/* line 240, ../sass/_index.scss */
section.par_mums h5 {
  font-size: 1.25em;
  margin: 20px 0 10px;
  color: #f0f0f0;
}
/* line 246, ../sass/_index.scss */
section.par_mums p {
  font-size: .8em;
  margin-bottom: 30px;
  color: #7a7873;
}
/* line 252, ../sass/_index.scss */
section.par_mums div.par_mums_bloks {
  width: 20%;
  height: auto;
  margin: 50px 20px 0;
}
/* line 257, ../sass/_index.scss */
section.par_mums div.par_mums_bloks .par_mums_img {
  width: 60%;
  height: auto;
}
/* line 261, ../sass/_index.scss */
section.par_mums div.par_mums_bloks .par_mums_img img {
  width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1500px) {
  /* line 272, ../sass/_index.scss */
  section.par_mums div.par_mums_bloks {
    width: 30%;
  }
  /* line 275, ../sass/_index.scss */
  section.par_mums div.par_mums_bloks .par_mums_img {
    width: 40%;
  }
}
@media screen and (max-width: 1280px) {
  /* line 285, ../sass/_index.scss */
  section.par_mums div.par_mums_bloks {
    width: 40%;
  }
  /* line 288, ../sass/_index.scss */
  section.par_mums div.par_mums_bloks .par_mums_img {
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  /* line 298, ../sass/_index.scss */
  section.par_mums div.par_mums_bloks {
    width: 100%;
  }
  /* line 301, ../sass/_index.scss */
  section.par_mums div.par_mums_bloks .par_mums_img {
    width: 20%;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 313, ../sass/_index.scss */
.pakalpojumi {
  width: 100%;
  height: auto;
  background: url("../img/pattern-light.png");
  padding-bottom: 50px;
}
/* line 321, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box:nth-of-type(odd) .pakalpojumi_vid {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
/* line 325, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box:nth-of-type(odd) .pakalpojumi_txt {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  text-align: right;
}
/* line 331, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box {
  width: 60%;
  height: auto;
  margin: 30px 0;
}
/* line 337, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box .pakalpojumi_vid {
  width: 30%;
  height: auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 342, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box .pakalpojumi_vid video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  border: 2px solid #282a2b;
}
/* line 350, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box .pakalpojumi_txt {
  width: 64%;
  height: auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: 20px;
}
/* line 356, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box .pakalpojumi_txt h4 {
  font-size: 1.25em;
}
/* line 360, ../sass/_index.scss */
.pakalpojumi .pakalpojumi_box .pakalpojumi_txt p {
  font-size: .8em;
  color: #7a7873;
}

@media screen and (max-width: 1200px) {
  /* line 371, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  /* line 378, ../sass/_index.scss */
  .pakalpojumi {
    width: 100%;
    height: auto;
    background: url("../img/pattern-light.png");
    padding-bottom: 50px;
  }
  /* line 384, ../sass/_index.scss */
  .pakalpojumi h1 {
    margin-bottom: 0;
  }
  /* line 390, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box:nth-of-type(odd) .pakalpojumi_vid {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  /* line 394, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box:nth-of-type(odd) .pakalpojumi_txt {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
  }
  /* line 400, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box:nth-of-type(-n+2) {
    margin-top: 50px;
  }
  /* line 404, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box {
    width: 90%;
    margin: 100px 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  /* line 410, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box .pakalpojumi_vid {
    width: 60%;
    margin-bottom: 20px;
  }
  /* line 415, ../sass/_index.scss */
  .pakalpojumi .pakalpojumi_box .pakalpojumi_txt {
    width: 80%;
    padding-right: 0;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 428, ../sass/_index.scss */
.atputas_zona {
  width: 100%;
  height: auto;
  background: #282a2b;
}
/* line 433, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper {
  padding: 100px 0;
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 439, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_vid {
  width: 40%;
  height: auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 444, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_vid video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  border: 2px solid #f8c235;
}
/* line 452, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_txt {
  width: 55%;
  height: auto;
  color: #f0f0f0;
}
/* line 458, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_txt h4 {
  font-size: 1em;
}
/* line 461, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_txt h4::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #f8c235;
  margin-right: 10px;
  transition: .4s;
}
/* line 474, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_txt h4:hover::before {
  background: #f8c235;
}
/* line 480, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_txt p {
  color: #7a7873;
  font-size: .8em;
  margin-bottom: 50px;
}
/* line 485, ../sass/_index.scss */
.atputas_zona .atputas_zona_wrapper .atputas_zona_txt p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  /* line 495, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper {
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    padding: 60px 0;
  }
  /* line 500, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper .atputas_zona_vid {
    margin-bottom: 50px;
  }
  /* line 504, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper .atputas_zona_txt {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  /* line 514, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper {
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  /* line 518, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper .atputas_zona_vid {
    width: 60%;
  }
  /* line 522, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper .atputas_zona_txt {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  /* line 532, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper {
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  /* line 536, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper .atputas_zona_vid {
    width: 80%;
  }
  /* line 540, ../sass/_index.scss */
  .atputas_zona .atputas_zona_wrapper .atputas_zona_txt {
    width: 90%;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 552, ../sass/_index.scss */
.mums_uzticas {
  height: auto;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
/* line 560, ../sass/_index.scss */
.mums_uzticas div.mums_uzticas_wrapper {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 50px 0;
}
/* line 570, ../sass/_index.scss */
.mums_uzticas div.partner_img {
  width: auto;
  height: 80px;
  margin: 30px;
}
/* line 575, ../sass/_index.scss */
.mums_uzticas div.partner_img img {
  max-width: 100%;
  max-height: 100%;
  -webkit-filter: grayscale(1) opacity(0.5);
  filter: grayscale(1) opacity(0.5);
  transition: .4s;
}
/* line 582, ../sass/_index.scss */
.mums_uzticas div.partner_img img:hover {
  -webkit-filter: grayscale(0.2) opacity(1);
  filter: grayscale(0.2) opacity(1);
}

@media screen and (max-width: 500px) {
  /* line 593, ../sass/_index.scss */
  .mums_uzticas div.mums_uzticas_wrapper {
    padding: 0 0 50px;
  }
  /* line 597, ../sass/_index.scss */
  .mums_uzticas div.partner_img {
    height: 40px;
    margin: 30px;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 609, ../sass/_index.scss */
#google_map {
  width: 100%;
  height: 600px;
  margin: 0;
}

/* line 5, ../sass/_cenas.scss */
.cenas {
  background: url("../img/pattern-medium.png");
  width: 100%;
  height: auto;
  padding: 150px 0 50px;
}
/* line 11, ../sass/_cenas.scss */
.cenas div.cenas_wrapper {
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 15, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h1 {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  color: #282a2b;
}
/* line 21, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h1:nth-of-type(1n+2) {
  margin-top: 30px;
  padding: 100px 0 0;
  border-top: 1px dashed #7a7873;
}
/* line 27, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h3 {
  width: 100%;
  margin-bottom: 20px;
  color: #7a7873;
}
/* line 33, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h4 {
  width: 100%;
  font-size: .8em;
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 39, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h4::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  border: 2px solid #f8c235;
  margin-right: 10px;
}
/* line 50, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h4.price::after {
  content: '2,00 EUR';
  margin-left: 10px;
  font-size: 1.25em;
  color: #d83f23;
}
/* line 56, ../sass/_cenas.scss */
.cenas div.cenas_wrapper h4.price2::after {
  content: '1,60 EUR';
  margin-left: 10px;
  font-size: 1.25em;
  color: #d83f23;
}
/* line 63, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top {
  height: auto;
  width: 49%;
  margin-bottom: 50px;
}
/* line 69, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks:nth-of-type(even) {
  background: #f0f0f0;
  border-left: 1px dashed #7a7873;
  border-right: 1px dashed #7a7873;
  border-top: none;
  border-bottom: none;
}
/* line 77, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks:last-of-type {
  border-bottom: 1px dashed #7a7873;
}
/* line 81, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks {
  width: 100%;
  height: 80px;
  background: white;
  border: 1px dashed #7a7873;
  transition: .4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 89, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks:hover {
  background: #f8c235;
}
/* line 93, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_icon {
  width: 120px;
  height: auto;
  padding: 10px;
  border-right: 1px dashed #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 100, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_icon img {
  max-width: 100%;
  max-height: 100%;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 107, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_txt {
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 80%;
}
/* line 113, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_txt h2 {
  font-size: .9em;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 119, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_cena {
  width: 100px;
  height: 100%;
  text-align: center;
  background: #f8c235;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  border-left: 1px dashed #f0f0f0;
}
/* line 128, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_cena p {
  font-size: .75em;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 133, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_cena span {
  font-size: 1.5em;
}
/* line 141, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona {
  height: auto;
  width: 32%;
  margin-bottom: 30px;
}
/* line 147, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks:nth-of-type(even) {
  background: #f0f0f0;
  border-left: 1px dashed #7a7873;
  border-right: 1px dashed #7a7873;
  border-top: none;
  border-bottom: none;
}
/* line 155, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div#cenu_bloks_special,
.cenas div.cenas_wrapper div.cenu_block_colona div#cenu_bloks_special2,
.cenas div.cenas_wrapper div.cenu_block_colona div#cenu_bloks_special3 {
  color: #f0f0f0;
  background: #d83f23;
}
/* line 161, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div#cenu_bloks_special .cenas_cena,
.cenas div.cenas_wrapper div.cenu_block_colona div#cenu_bloks_special2 .cenas_cena,
.cenas div.cenas_wrapper div.cenu_block_colona div#cenu_bloks_special3 .cenas_cena {
  background: #d83f23;
}
/* line 166, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks {
  width: 100%;
  height: 50px;
  background: white;
  transition: .4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  border: 1px dashed #7a7873;
}
/* line 175, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks:hover {
  background: #f8c235;
}
/* line 179, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_txt {
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 80%;
}
/* line 185, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_txt h2 {
  font-size: .9em;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 191, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_cena {
  width: 100px;
  height: 100%;
  text-align: center;
  background: #f8c235;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  border-left: 1px dashed #f0f0f0;
}
/* line 200, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_cena p {
  font-size: .75em;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 205, ../sass/_cenas.scss */
.cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_cena span {
  font-size: 1.5em;
}

@media screen and (max-width: 1680px) {
  /* line 218, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper {
    width: 90%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1450px) {
  /* line 230, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper h3 {
    font-size: .9em;
  }
  /* line 240, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_txt h2 {
    font-size: .7em;
  }
  /* line 247, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona div.cenu_bloks .cenas_cena span {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 1280px) {
  /* line 262, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 950px) {
  /* line 277, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 285, ../sass/_cenas.scss */
  .cenas {
    padding: 100px 0 50px;
  }
  /* line 288, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper {
    width: 100%;
  }
  /* line 291, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper h3 {
    padding: 0 0 0 10px;
    font-size: 1em;
  }
  /* line 296, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper h1 {
    font-size: 1.25em;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 10px;
  }
  /* line 303, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper h4 {
    font-size: .75em;
    margin-left: 10px;
  }
  /* line 307, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper h4::after {
    content: "";
    display: block;
    margin: 10px 0 0;
    text-align: left;
  }
  /* line 315, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top {
    width: 100%;
  }
  /* line 318, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks {
    width: 100%;
    height: 70px;
  }
  /* line 322, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_icon {
    width: 80px;
  }
  /* line 326, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_txt {
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
  }
  /* line 331, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_txt h2 {
    font-size: .7em;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  /* line 337, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_cena {
    width: 100px;
  }
  /* line 340, ../sass/_cenas.scss */
  .cenas div.cenas_wrapper div.cenu_block_colona_top div.cenu_bloks .cenas_cena span {
    font-size: 1.25em;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 9, ../sass/global.scss */
header {
  background: black;
  width: 100vw;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  z-index: 10;
}
/* line 18, ../sass/global.scss */
header div.content_wrapper {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 23, ../sass/global.scss */
header div.content_wrapper div.logo {
  height: 100%;
  width: 300px;
  margin-right: auto;
}
/* line 29, ../sass/global.scss */
header div.content_wrapper div.logo img {
  width: 40%;
  margin: 12px 0 0;
}
/* line 35, ../sass/global.scss */
header div.content_wrapper nav.main_nav {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 42, ../sass/global.scss */
header div.content_wrapper nav.main_nav a.active_link {
  color: #f8c235;
}
/* line 46, ../sass/global.scss */
header div.content_wrapper nav.main_nav a {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: .9em;
  color: #f0f0f0;
  transition: 0.15s;
}
/* line 52, ../sass/global.scss */
header div.content_wrapper nav.main_nav a:hover {
  color: #f8c235;
}
/* line 57, ../sass/global.scss */
header div.content_wrapper nav.main_nav a:nth-of-type(even) {
  margin-left: 35px;
}

@media screen and (max-width: 600px) {
  /* line 65, ../sass/global.scss */
  header {
    height: 60px;
  }
  /* line 68, ../sass/global.scss */
  header div.content_wrapper {
    width: 90%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 72, ../sass/global.scss */
  header div.content_wrapper div.logo {
    height: 100%;
    width: 120px;
    margin-right: 0;
  }
  /* line 78, ../sass/global.scss */
  header div.content_wrapper div.logo a {
    display: block;
    width: 100%;
    height: 100%;
  }
  /* line 83, ../sass/global.scss */
  header div.content_wrapper div.logo a img {
    width: 70%;
    max-height: 100%;
  }
  /* line 90, ../sass/global.scss */
  header div.content_wrapper nav.main_nav {
    width: auto;
  }
  /* line 93, ../sass/global.scss */
  header div.content_wrapper nav.main_nav a:nth-of-type(even) {
    margin-left: 20px;
  }
}
/*-----------------------------------------------------------------------------------*/
/* line 106, ../sass/global.scss */
footer {
  height: 360px;
  background: #282a2b;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
/* line 112, ../sass/global.scss */
footer div {
  margin-top: 20px;
  width: 90%;
}
/* line 117, ../sass/global.scss */
footer .social_nav {
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 123, ../sass/global.scss */
footer .rekviziti {
  width: 50%;
  height: 240px;
  text-align: end;
}
/* line 129, ../sass/global.scss */
footer .rekviziti h4 {
  width: 100%;
  font-size: 16px;
  color: #f0f0f0;
}
/* line 134, ../sass/global.scss */
footer .rekviziti h4 span {
  font-size: .75em;
  color: #7a7873;
}
/* line 141, ../sass/global.scss */
footer .fb-like-box {
  width: 50%;
}
/* line 145, ../sass/global.scss */
footer .fb_iframe_widget {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 149, ../sass/global.scss */
footer .fb_iframe_widget span {
  margin: 0 auto;
  min-width: 100%;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 155, ../sass/global.scss */
footer .fb_iframe_widget span iframe {
  min-width: 100%;
  padding-top: 30px;
}
/* line 163, ../sass/global.scss */
footer .copyrights {
  width: 100%;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 3px 0;
  background: rgba(0, 0, 0, 0.35);
  border-top: 1px solid #2c2f29;
}
/* line 170, ../sass/global.scss */
footer .copyrights a, footer .copyrights p {
  margin: 10px;
  color: #7a7873;
  font-size: 14px;
}
/* line 176, ../sass/global.scss */
footer .copyrights a {
  transition: .35s;
}
/* line 179, ../sass/global.scss */
footer .copyrights a:hover {
  color: white;
}
/* line 184, ../sass/global.scss */
footer .copyrights ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px) {
  /* line 193, ../sass/global.scss */
  footer {
    height: 600px;
  }
  /* line 196, ../sass/global.scss */
  footer div {
    margin-top: 0;
  }
  /* line 200, ../sass/global.scss */
  footer .social_nav {
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  /* line 205, ../sass/global.scss */
  footer .rekviziti {
    width: 100%;
    height: 240px;
    order: 2;
    text-align: left;
  }
  /* line 212, ../sass/global.scss */
  footer .rekviziti h4 {
    font-size: 14px;
  }
  /* line 217, ../sass/global.scss */
  footer .fb-like-box {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 226, ../sass/global.scss */
  footer .fb_iframe_widget span iframe {
    padding-top: 30px;
  }
  /* line 232, ../sass/global.scss */
  footer .copyrights {
    height: auto;
  }
}
